<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content=" " name="description">
    <meta content=" " name="keywords">

    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap5.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

    <title> Обработка запроса </title>
</head>
<body>

<main class="m-auto main w-100">
    <div class="content d-flex align-center align-items-center flex-column justify-content-between">
        <form class="contentIn w-100 d-flex flex-column align-items-start">
            <a href="#" class="logo m-auto d-flex flex-column">
                <img src="images/logo.svg" alt="" class="m-auto">
            </a>


            <div class="request w-100">
                <div class="request__title text-center  mb-4">Обработка запроса</div>
                <img src="images/icon.svg" alt="" class="d-block m-auto">

                <p class="text-center request_desc">Ожидайте появление реквизитов платежа или отмените текущую
                    операцию, чтобы
                    вернуться на
                    сайт
                    поставщика услуг</p>
            </div>


            <button type="submit" class="btn m-auto btnCancelBtn">Отменить</button>
        </form>

        <footer class="position-absolute footer">
            <ul class="languages d-flex justify-content-between m-auto pt-5">
                @foreach (config()->get('app.locales') as $locale)
                <li>
                    <a href="/setlocale/{{ $locale }}" class="{{ $locale == app()->getLocale() ? " languages__active" : "" }}">{{ $locale }}</a>
                </li>

                @endforeach
            </ul>

            <div class="copyright text-center m-auto pt-3 pb-3">Grow Payments System 2020–{{date('Y')}}</div>
        </footer>
    </div>
</main>


<script src="js/jquery-3.4.1.min.js" async></script>
</body>
</html>
