* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 16px;
  min-width: 320px;
  scroll-behavior: smooth;
  background-color: #f8f8f8 !important;
  min-height: 100%;
}

a {
  outline: none;
  text-decoration: none;
}

img {
  outline: none;
  max-width: 100%;
  border: none;
}

ul {
  list-style: none;
}

a:hover {
  text-decoration: none !important;
}

input[type="text"]::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]::-moz-placeholder {
  color: #717171;
  font-size: 14px;
}

input[type="text"]::-webkit-input-placeholder {
  color: #717171;
  font-size: 14px;
}

input[type="text"]:-ms-input-placeholder {
  color: #717171;
  font-size: 14px;
}

.main {
  background: #ffffff;
  max-width: 600px;
  min-height: 100vh;
}

.footer {
  bottom: 0;
}

.content {
  height: 100%;
}

.contentIn {
  max-width: 300px;
  margin-top: 1rem;
}

.logo {
  color: #000;
  text-decoration: none;
}

.logo img {
  width: 48px;
}

.logo span {
  font-size: 24px;
  color: #000;
}

.numberBlockOrder__name {
  color: #000;
  font-size: 14px;
  font-style: italic;
}

.numberBlockOrder__card {
  font-style: italic;
  font-size: 15px;
}

.numberBlockOrder {
  border-bottom: 1px solid #616161;
}

.numberBlockOrder__total {
  color: #ff4b35;
  font-size: 15px;
  font-style: italic;
}

.numberBlockOrderTop span {
  color: #A0A0A0;
  font-size: 12px;
  font-style: italic;
}

.desc {
  color: #A0A0A0;
  font-size: 12px;
}

.selects__name {
  color: #212121;
  font-size: 14px;
}

.form-select {
  border: 1px solid #000000 !important;
}

.btnSend {
  width: 180px;
  height: 50px;
  font-size: 18px;
}

.btnCancel {
  color: #ff4b35;
  font-size: 14px;
}

.languages {
  width: 80px;
  padding-left: 0;
}

.languages li a {
  color: #A0A0A0;
  font-size: 14px;
  text-decoration: none;
}

.languages li a.languages__active {
  color: #000;
}

.copyright {
  color: #A0A0A0;
  font-size: 10px;
  width: 113px;
}

.request__title {
  font-size: 24px;
  width: 255px;
  margin: 0 auto;
}

.request {
  margin-top: 10rem;
}

.request_desc {
  color: #212121;
  font-size: 14px;
  padding: 2rem 2rem 0;
}

.btnCancelBtn {
  border: 1px solid #212121 !important;
}

.request__title_modif {
  color: #ff4b35;
}

.description {
  color: #212121;
  font-size: 14px;
  padding: 0 1rem;
}

.title {
  color: #212121;
  font-size: 24px;
  margin-top: 1rem;
}

.list li {
  font-size: 10px;
  color: #A0A0A0;
}

.time__title {
  color: #212121;
  font-size: 10px;
}

.time__seconds {
  font-weight: 500;
  font-size: 18px;
  color: #212121;
}

.visaCard {
  border: 1px solid #000000;
  max-width: 300px;
  border-radius: 22px;
  padding: 1rem;
}

.visaCardTop__name {
  color: #212121;
  font-size: 14px;
}

.visaCardTop img {
  width: 65px;
}

.warning {
  font-size: 10px;
  color: #ff4b35;
  line-height: 12px;
}

.visaCardBlockTotal__name {
  color: #A0A0A0;
  font-size: 10px;
}

.visaCardBlockTotal {
  background: url('../images/icon2.svg') no-repeat right 19px;
}

.visaCardBlockTotal__transfer {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
}

.swal2-title {
  font-size: 11px !important;
}

.swal2-container.swal2-center > .swal2-popup {
  max-width: 300px !important;
  padding: 1rem !important;
  border-radius: 20px;
}

.cardInput label {
  color: #212121;
  font-size: 14px;
  display: block;
  margin-bottom: .5rem;
}

.cardInput input {
  height: 43px;
  border-radius: 5px;
  border: 1px solid #000000;
  padding-left: 1rem;
}

.popupContent {
  width: 100%;
}

.swal2-html-container {
  margin: 1em 0 .3em !important;
}

.popupLogo {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto;
}

.popupLogo img {
  width: 64px;
  height: 64px;
}

.popupDesc {
  color: #212121;
  font-size: 12px;
  padding: 1rem 0;
}

.popupDesc.red {
  color: #ff4b35;
}

.swal2-actions {
  display: none !important;
}

.popupFile input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  cursor: pointer;
}

.popupFile {
  cursor: pointer;
}

.popupFileBlock {
  border-radius: 4px;
  height: 40px;
  width: 100%;
  border: 1px solid #b4b4b4;
  overflow: hidden;
  cursor: pointer;
}

.popupFileBlock__btn {
  background: #b4b4b4;
  width: 110px;
  height: 40px;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.popupFileBlock__file {
  padding-left: 1rem;
  font-size: 12px;
  color: #b4b4b4;
}

.swal2-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em !important;
}

/*
Start respnsive
###############*/
@media (min-width: 570px) {
  .numberBlockOrder__card {
    font-size: 18px;
  }

  .numberBlockOrder__name {
    font-size: 16px;
  }

  .desc {
    font-size: 14px;
  }

  .contentIn {
    max-width: 440px;
  }

  .description {
    padding: 0 3rem;
  }

  .visaCard {
    max-width: 440px;
    padding: 2rem;
  }

  .visaCardTop__name {
    font-size: 20px;
  }

  .list {
    max-width: 300px;
  }

  .visaCardBlockTotal__name {
    font-size: 12px;
  }

  .warning {
    line-height: 16px;
    font-size: 12px;
  }

  .visaCardBlockTotal__transfer {
    font-size: 24px;
  }

  .visaCardBlockTotal {
    background-position: right 19px;
  }

  .swal2-container.swal2-center > .swal2-popup{
    max-width: 440px !important;
    padding: 2rem !important;
  }

  .popupDesc{
    font-size: 14px;
  }

  .popupFileBlock__btn{
    width: 130px;
    font-size: 14px;
  }

  .popupFileBlock__file{
    font-size: 14px;
  }
}
